.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background-color: var(--color-bg-footer);
  color: var(--color-text-main);
  font-size: var(--font-size-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  transition:
          background-color 280ms ease-in-out,
          color 280ms ease-in-out
}

