.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;

  background-color: var(--color-bg-header);
  color: var(--color-text-main);

  font-size: var(--font-size-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  /* 아래에 살짝 구분선 */
  border-bottom: 1px solid var(--color-border-subtle);

  transition:
          background-color 280ms ease-in-out,
          color 280ms ease-in-out,
          border-color 280ms ease-in-out;
}