@import '@styles/base/fonts'; // ← 폰트 관련 설정은 fonts.scss로 분리
@import '@styles/theme/tokens';

$font-sans: var(--font-geist-sans);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
}

/* 글로벌 리셋 */
body,
html,
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}