@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

// SCSS 변수 ( 예시 )
$font-sans: var(--font-geist-sans);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// Dark mode 토글 클래스
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
