/* 서브 메뉴 진입 > mainContent를 대체 */
.subLayout {
  display: flex;
  flex: 1;
  padding: 0.3rem;
}

.subContents {
  display: flex;
  flex: 1;
  background-color: var(--color-bg-body);
  color: var(--color-text-main);

  transition:
          background-color var(--transition-theme),
          color            var(--transition-theme),
          border-color     var(--transition-theme),
          box-shadow       var(--transition-theme);
}