.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: var(--font-size-md);
  margin-bottom: 0.5rem;
  color: var(--color-text-main);
}

.detailLayout {
  display: flex;
  gap: 1rem;
}

.detailRoot {
  flex: 1;
}

.detailSide {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 160px; // 세로 버튼 영역
}

.sideActionBtn {
  /* 버튼 스타일 */
}