@use '@styles/base/mixins.scss' as *;

.appMain {
  padding-top: var(--layout-header-height, 0px);
  padding-bottom: var(--layout-footer-height, 0px);
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;

  /* 모듈 내부 요소들 width:100% overflow 방지 */
  * {
    box-sizing: border-box;
    min-width: 0;
  }
}