@import '@styles/base/fonts'; // 폰트 관련 설정은 fonts.scss로 분리
@import '@styles/theme/tokens';

$font-sans: var(--font-geist-sans);

/* ===== 스크롤바 (맥 스타일 기준) ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* Chromium / Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);

  border: 2px solid transparent;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-main);
}

/* 글로벌 리셋 */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: var(--layout-header-height, 0px);
  padding-bottom: var(--layout-footer-height, 0px);
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;

  /* 모듈 내부 요소들 width:100% overflow 방지*/
  * {
    box-sizing: border-box;
    min-width: 0;
  }
}