.loginContainer {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #111;

  :global(html.dark) & {
    background-color: #111827;
    color: #f9fafb;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginInput {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}