.dashboardTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.dashboardContent {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  :global(html.dark) & {
    background-color: #1e293b;
    color: #f9fafb;
  }
}