@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --font-family-default: "Roboto Mono", monospace;
  --font-size-xxs: 0.65rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.85rem;
  --font-size-base: 0.95rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.25rem;
  --font-size-2xl-md: 1.75rem;

  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* === 라벨 전용 폰트 토큰 === */
  --font-size-mini-label:   var(--font-size-xxs);

  /* === 버튼 전용 폰트 토큰 === */
  --font-button-family: "Roboto Mono", monospace;
  --font-button-size-sm: 0.65rem;
  --font-button-size:  0.75rem;
  --font-button-size-lg:  0.85rem;
  --font-button-weight: 400
}